body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS_cLfd3782lw0prJxEL5fKXRyReIFBYLDjyJNnlvZ83A5RfVdCA");
} 
<style>
    p {
      color: #993399;
      font-family: cursive;
    }
  </style>
